<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="data source=.;initial catalog=Skpic;user id=sa;password=angelrose;" />
    
    <add name="MySqlConnString" providerName="MySql.Data.MySqlClient" connectionString="Server=192.168.133.128;Database=skpic;Uid=root;Pwd=root;" />
    
    <add name="OracleConnString" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=192.168.133.128:1521/orcl;PERSIST SECURITY INFO=True;USER ID=SYSTEM;password=manager" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <!--<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->

      <!--<add name="ODP.NET, Unmanaged Driver" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET, Unmanaged Driver" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.121.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->

      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>