@{
    ViewBag.Title = "title";
}
<div class="col-md-12">
    <form action="/" method="post">

        <div class="col-md-2">
            用户名：
        </div>
        <div class="col-md-10">
            <input type="text" name="LoginName" id="LoginName" value="" />
        </div>

        <div class="col-md-2">
            密码：
        </div>
        <div class="col-md-10">
            <input type="text" name="LoginPwd" id="LoginPwd" value="" />
        </div>
        <button class="btn btn-default">登录</button>

    </form>
</div>