@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/View/Home/Index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular/angular.js"></script>
    <script src="~/Scripts/Views/Home/Index.js"></script>

</head>
<body class="home_template">
    <header class="main-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" class="branding">
                        <img src="http://static.ghostchina.com/image/b/46/4f5566c1f7bc28b3f7ac1fada8abe.png" title="11" alt="111" />
                        <h2 class="text-hide">
                            sjdfkajdfjlabbr
                        </h2>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <nav class="main-navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <span class="nav-toggle-button collapse" data-target="#main-menu">
                            <span class="sr-only"> hskldf</span>
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="menu">
                            <li class="nav-current" role="presentation"><a href="#">首页</a></li>
                            <li role="presentation"><a href="#">论坛</a></li>
                            <li role="presentation"><a href="#">快捷手册</a></li>
                            <li role="presentation"><a href="#">中文文档</a></li>
                            <li role="presentation"><a href="#">下载</a></li>
                            <li role="presentation"><a href="#">关于</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <article class="post tag-about-ghost tag-ghost-in-depth tag-zhu-shou-han-shu">
                    <div class="post-head">
                        <h1 class="post-title">
                            <a href="#">我是标题</a>
                        </h1>
                        <div class="post-meta">
                            <span class="author">
                                    作者
                                    <a href="#">徐荣权</a>
                                </span>
                            •
                            <time class="date" datetime="2015-06-07">2015年6月7日</time>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>Ghost 0.6.3 版本已经正式发布了！此版本主要修复了一些 bug 并包含了几个新特性，例如：博文预览。 Ghost 0.6.3 的主要变化 [新增] 博文预览 [新增] 带密码保护的私密博客 [新增] 为作者自定义页面模板 [增强] 登陆状态延长至 7 天 [修复] 编辑</p>
                    </div>
                    <div class="post-permalink">
                        <a href="#" class="btn btn-default">阅读全文</a>
                    </div>
                    <div class="post-footer clearfix">
                        <div class="pull-left tag-list">
                            <i class="fa fa-folder-open-o"></i>
                            <a href="#">我是第一个</a>
                            <a href="#">啥啊</a>
                            <a href="#">不知道</a>
                            <a href="#">深度</a>
                            <a href="#">嗯，对</a>
                            <a href="#">滚蛋</a>
                            <a href="#">听你的</a>
                            <a href="#">不要</a>
                            <a href="#">呀迈得</a>
                        </div>
                    </div>
                </article>
            </main>
            <aside class="col-md-4 sidebar">
                <div class="widget">
                    <h4 class="title">社区</h4>
                    <div class="content community">
                        <p>QQ群：132456789</p>
                        <p>
                            <a href="#">问答社区</a>
                        </p>
                        <p>
                            <a href="#">官网微博</a>
                        </p>
                    </div>
                </div>
                <div class="widget">
                    <h4 class="title">下载Ghost</h4>
                    <div class="content download">
                        <a href="#" class="btn btn-default btn-block">Ghost中文版4.95</a>
                    </div>
                </div>
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="#">Ghost</a>
                        <a href="#">主题</a>
                        <a href="#">上传镜头</a>
                        <a href="#">静态页面</a>
                        <a href="#">刷新</a>
                        <a href="#">新版本发布</a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="widget">
                    <h4 class="title">最新文章</h4>
                    <div class="content recent-post">
                        <div class="recent-single-post">
                            <a href="#" class="post-title">Ghost 0.6.3 版本正式发布</a>
                            <div class="date">March 04 2015</div>
                        </div>
                        <div class="recent-single-post">
                            <a href="#" class="post-title">Ghost 0.6.3 版本正式发布</a>
                            <div class="date">March 04 2015</div>
                        </div>
                        <div class="recent-single-post">
                            <a href="#" class="post-title">Ghost 0.6.3 版本正式发布</a>
                            <div class="date">March 04 2015</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="widget">
                    <h4 class="title">标签云</h4>
                    <div class="content tag-cloud">
                        <a href="#">Ghost</a>
                        <a href="#">主题</a>
                        <a href="#">上传镜头</a>
                        <a href="#">静态页面</a>
                        <a href="#">刷新</a>
                        <a href="#">新版本发布</a>
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                 <div class="widget">
                     <h4 class="title">合作伙伴</h4>
                     <div class="content tag-cloud frend-links">
                         <a href="#">BootStrap中文网</a>
                     </div>
                 </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
