<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <connectionStrings>
    <add name="ConnectionString" providerName="System.Data.SqlClient" connectionString="data source=.;initial catalog=Skpic;user id=sa;password=angelrose;" />

    <add name="MySqlConnString" providerName="MySql.Data.MySqlClient" connectionString="Server=192.168.133.128;Database=skpic;Uid=root;Pwd=root;" />

    <add name="OracleConnString" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=127.0.0.1:1521/orcl;PERSIST SECURITY INFO=True;USER ID=skpic;password=skpic" />
  </connectionStrings>
</configuration>