/*from tccdn minify at 2014-3-5 14:49:20,file：/cn/csl/14/b1.8/h.0.0.2.css?v=<%=TCWeb.Core.DiyPage.Version%>*/
/*
 * @选择酒店页面样式
 * @author Leanse 
 * @data 2013-11-27
 * modify:
 **/
 #header_lite, #content,#footer{width:1200px}
/*.change_data{background:url(hotel.png) 0 -76px no-repeat;width:100px;height:24px;line-height:24px;text-align:center;color:#333;display:block}*/
/*.change_data:hover{background-position:0 -100px;color:#FFF;text-decoration:none}*/
.order_link{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) -25px 0 no-repeat #005BB5;width:140px;height:41px;line-height:41px;float:right;text-align:center;margin:0 30px 0 0;color:#FFFFFF;font-size:20px}
.order_link:hover{background-position:-25px -41px;text-decoration:none;color:#FFFFFF}
.un_order,.un_order:hover{background-position:-25px -178px;cursor:default}
.go_back{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) -190px 10px no-repeat #FFFFFF;padding-left:15px;float:right;width:55px;height:28px;line-height:28px}
.choose_btn{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) -92px -82px no-repeat #005BB5;width:73px;height:25px;line-height:25px;color:#FFFFFF;display:inline-block;text-align:center;}
.choose_btn:hover{background-position:-92px -107px;color:#FFFFFF;text-decoration:none}
.choose_ed{background-position:-92px -152px;cursor:default}
.choose_ed:hover{background-position:-92px -152px}
.select_ed{background:url(hotel1.png) no-repeat;background-position:0 -349px;width:30px;color:#ffa63c;padding-left:20px;font-size:14px;margin-left:10px;cursor:default}
.select_ed:hover{background-position:0 -349px;color:#ffa63c;}
/* 页面导航 */
.menuBox{height:40px;width:1200px;}
.menuLeft{width:260px;float:left;font-size:22px;font-family:"\5FAE\8F6F\96C5\9ED1"}
.menuLeft .sp_tip{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) -300px -95px no-repeat;width:25px;height:24px;display:inline-block}
.menuLeft .tip_f{background-position:-175px -98px}
.menuLeft .tip_h{background-position:-175px -130px}
.menuBox ul{float:none;background:none;line-height:20px;float:right}
.menuBox ul li{width:73px;color:#666666;float:left}
.menuBox ul li span{display:block;background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01);height:7px;width:73px;overflow:hidden}
.menuBox ul li .menu_now{background-position:-18px -361px}
.menuBox ul li .menu_bf{background-position:0px -178px}
.menuBox ul li .menu_af{background-position:-93px -361px}
.menuBox .menu_li_last .menu_af{background-position:-16px -372px}
.menuBox ul li h2{font-size:12px;font-weight:normal;font-family:"\5B8B\4F53";line-height:20px;text-align:center}
#footer_lite{border-top:1px solid #CCCCCC;color:#666666;font-size:12px;line-height:20px;margin:30px auto 0;padding:5px 0 20px;text-align:center;width:1200px}
/* 等待 */
.loading_box{padding:50px 0px;text-align:center}
.loading_box p{padding:10px 0}
.f_mt_a{margin-top:0px;}
/* 产品信息  */
.tips{width:830px;height:33px;background-color:#fff4d9;border:1px solid #ffd5a1;margin-bottom:13px;}
.tips p{line-height:33px;padding-left:20px;color:#ff6600;}
.tips .chacha{background:url(hotel1.png) no-repeat;background-position:0 -30px;width:13px;height:16px;display:inline-block;margin-top: 10px;float:right;margin-right:5px;cursor:pointer;}
/*.main_box{background-color:#EEF8FF;padding:10px;font-family:Microsoft YaHei;width:1180px;}*/
.list_num_box{position:absolute;}
.list_num_box .num_zuo{background:url(hotel1.png) no-repeat;background-position:0 -221px;width:7px;height:19px;display:inline-block;float:left;margin-top: -1px;}
.list_num_box .num_repeat{background:url(hotel1.png) repeat-x;background-position:0 -323px;height:18px;float:left;text-align:center;display:inline-block;color:#fff;font-family:Arial;line-height:18px;font-weight:bold;}
.list_num_box .num{}
.list_num_box .num_you{background:url(hotel1.png) no-repeat;background-position:-14px -221px;width:7px;height:19px;display:inline-block;float:left;margin-top: -1px;}
.main_box .part_sty,.listFilter{border:1px solid #BBDFFF;background-color:#FFFFFF;padding:15px 30px;}
.hotel_listinfo{width:840px;padding:15px 10px;border:1px solid #BBDFFF;background-color:#FFFFFF;}
.main_box .part_sty1 .list_title{border-bottom:2px solid #DDDDDD;height:30px;line-height:30px}
.main_box .part_sty1 .list_title .title_text{border-bottom:2px solid #2A98DA;height:30px;line-height:30px;margin-bottom:-2px;position:relative;text-align:center;float:left}
.main_box .part_sty1 .list_title .add_lab{float:left;line-height:30px;cursor:pointer}
.main_box .part_sty strong{font-weight:bolder}
.main_box .listFilter{margin:13px 0;}
.main_box .list_l,.main_box .list_r{float:left}
.main_box .list_r{width:788px;line-height:30px;padding-left:10px}
.main_box .list_r .startSpan{margin-right:15px}
.main_box .list_l{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) no-repeat 0 0;font-size:18px;line-height:30px;padding-left:30px;}
.main_box .pic_h{background-position:-175px -130px}
.main_box .list_r .h_tit{float:left;line-height:30px;font-size:18px;padding-left:56px;}
.main_box .ruzhu,.lidian,.startSpan,.endSpan{font-size:14px;}
.main_box .startSpan,.endSpan{color:#ffb256;}
.main_box .ruzhu{padding-left:50px;padding-right:10px;}
.main_box .lidian{padding-left:30px;padding-right:10px;}
.main_box .list_r .list_tit{background-color:#F0F0F0;line-height:30px;padding-left:10px}
.main_box .list_r .list_tit span{width:120px}
.main_box .fanhui a{background:url(hotel1.png) no-repeat;background-position:-85px -222px;width:115px;height:36px;float:right;padding-top:5px;margin-right:-64px;color:#fff;font-size:14px;padding-left:27px;text-decoration: none;font-family: Microsoft YaHei;}
.main_box .fanhui a:hover{background-position:-85px -266px;}
.cond_sBox{line-height:24px;margin:5px 0}
.cond_sed{border:1px solid #76BBFF;height:15px;line-height:13px;margin:4px 3px 0;line-height:13px;*line-height:15px}
.cond_sed .cond_type{background-color:#76BBFF;color:#FFFFFF;height:15px;padding:0 3px}
.cond_sed .cond_info{padding:0 3px}
.cond_sed .cond_close{width:17px;height:15px;background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) -60px -90px no-repeat}

.cond_sty{line-height:24px;margin-top:10px}
.cond_sty a,.cond_place a{display:inline-block;color:#333333;margin-right:15px;padding:0 7px}
.cond_sty a:hover,.cond_place a:hover{color:#333333;text-decoration:none}
.cond_sty a.at{border:1px solid #DDDDDD;border-bottom:none;margin:-1px 15px -3px 0;position:relative;background-color:#F0F0F0;height:27px;padding:0 5px;*margin-bottom:-12px;*height:24px;*padding-top:3px}
.cond_sty a .sp_pic{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 2px -17px no-repeat;width:10px;height:5px;display:inline-block;*background-position:2px -12px}
.cond_sty a.at .sp_pic{background-position:2px 0;*background-position:2px 5px}
.cond_sty .sel_at,.cond_place .sel_at{background-color:#2A98DA;color:#FFFFFF}
.cond_sty .sel_at:hover,.cond_place .sel_at:hover{color:#FFFFFF}
.cond_place{border:1px solid #DDDDDD;padding:10px 0 10px 20px;background-color:#F0F0F0;margin-top:2px}
.cond_place ul{width:846px}
.cond_place ul li{margin:0;width:145px;line-height:24px;display:inline-block;float:left}
.cond_place a{margin:0;padding:0 3px}
.cond_place .selected{background:#2A98DA;color:#FFFFFF;}
.cond_place .place_close{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 5px -25px no-repeat;width:13px;height:14px;float:right;position:relative;margin-top:-10px;padding:5px}
.hlist_tit{background-color:#F5F5F5;height:30px}
.hlist_tit .tc_com{margin:4px 0 0 10px;float:left;line-height:20px;padding:0 5px 2px 5px}
.hlist_tit .tc_recom{background-color:#F9A746;color:#FFFFFF}
.hlist_tit .tc_price{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 34px -156px no-repeat #FFFFFF;padding-right:15px;cursor:pointer}
.hlist_tit .price_up{background-position:34px -136px}
/*筛选*/
.listFilter{margin-bottom: 10px;padding: 0 10px 0 13px;}
.listFilter .recommenLoc{padding:10px 0;width: 1167px;}
.listFilter dl dd{line-height:14px;float:left;white-space:nowrap;overflow:hidden;}
.listFilter .alls a{background-color:#fff;color:#000;margin-left:15px;text-align:center;text-decoration:none;cursor:pointer;}
.listFilter .allyl a{background-color:#fff;color:#000;margin-left:15px;text-align:center;text-decoration:none;cursor:pointer;padding:2px 4px;}
.listFilter .all a{text-align:center;text-decoration:none;color:#fff;background-color:#2a98da;padding:2px 4px;height:20px;display:inline-block;line-height:20px;cursor:pointer;}
.listFilter .all .all_ck_hover{background-color:#fff;color:#000;}
.listFilter .bg_box{padding: 3px 3px 5px;display:inline-block;cursor:pointer;}
.listFilter .bg_box_hover{background-color:#2A98DA;color:#fff;}
.listFilter .bg_box_h1{background-color:#2A98DA;color:#fff;}
.listFilter .sort{padding-left:23px;}
.listFilter .sort,.star_dd{width:140px;}
.listFilter #p_p1,.sfirst{padding-left:24px;}
.traffic_box{border-bottom:1px solid #ddd;}
.listFilter .s_btn{background:url(hotel1.png) no-repeat;background-position:0 -17px;width:8px;height:8px;display:inline-block;}
.listFilter .s_btn_hover{background:url(hotel1.png) no-repeat;background-position:0 -185px;width:8px;height:8px;display:inline-block;}
.listFilter .rec_hili{display:inline-block;padding:3px 3px 5px;color:#000;}
.listFilter .bg_sort_hover{background-color:#2A98DA;color:#fff;cursor:pointer;}
.listFilter .sort_click{height:24px;border:1px solid #ddd;border-bottom:none;font-size:12px;color:#0073b6;display:inline-block;background-color:#f0f0f0;overflow:hidden;padding-right:10px;text-align:right;position:relative;z-index:1;}
.listFilter .s_btn_click{background:url(hotel1.png) no-repeat;background-position:0 0;width:8px;height:8px;display:inline-block;}
.listFilter input{cursor:pointer;}
.listFilter label{cursor:pointer;}

div.subordinate{width:1085px;background-color:#f0f0f0;border:1px solid #ddd;padding-top:7px;margin:0 0 8px 72px;margin:-6px 0 0px 72px\0;float:none;position:relative;top:-13px;}
.subordinate_cnt,.trafficdetail,.traffic_ditie{width:1000px;*margin-bottom:10px;padding-bottom:10px;}
.filter_close{background:url(hotel1.png) no-repeat;background-position:0 -30px;width:13px;height:16px;display:inline-block;float:right;margin-right:5px;cursor:pointer;}
.subordinate_cnt li{float:left;width:125px;height:20px;margin:10px 5px 2px;white-space:nowrap;}
.trafficdetail li{float:left;width:125px;height:20px;margin:10px 5px 2px;white-space:nowrap;}
.traffic_ditie li{float:left;width:125px;height:20px;margin:10px 5px 2px;white-space:nowrap;}
.listFilter ul li a{height:20px;line-height:20px;display:inline-block;text-align:center;padding:0 6px;font-size:12px;color:#333;}
.listFilter ul li a:hover{color:#0073B6;text-decoration:none;}
.listFilter .scenic_clich{color:#fff;background-color:#2A98DA;display:inline-block;padding:2px 3px;}
.listFilter .scenic_clich:hover{color:#fff;}
/*筛选*/
/* 酒店信息列表 */
.list_info{width:868px;margin-bottom:10px;}
.list_info .list_tit{background-color:#F0F0F0;line-height:30px;padding-left:10px}
.list_info .h_img{float:left;height:120px;width:182px}
.list_info .list_styr{float:left;padding-left:10px;width:618px}
.list_info .list_itit{color:#ff6600;font-weight:bolder;line-height:30px}
.list_info .h_point{width:175px;height:80px;border-left:1px solid #ddd;float:left;margin-left:40px;margin-top:20px;text-align:center;padding-top:12px;}
.list_info .h_baifenbi{font-size:20px;font-family:Arial;color:#ff7a22;}
.list_info .haoping{font-size:12px;font-family:SimSun;color:#ff7a22;}
.list_info .zhusu{font-size:12px;color:#999;}
.list_info .p_add{line-height:25px}
.list_info .p_hinfo{height:40px;overflow:hidden;}
.list_info .showMoreInfo{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 75px -107px no-repeat #FFFFFF;padding-right:15px;float:right}
.list_info .close{background-position:75px -85px}
.list_info .p_flist{font-size:14px;line-height:30px}
.list_info .sp_info{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 0 0 no-repeat;display:inline-block;padding-left:15px;margin-right:20px}
.list_info .sp_bz{background-position:-188px -25px}
.list_info .sp_ie{background-position:-188px -62px}
.list_info .room_tab{margin-top:5px;width:840px}
.list_info .room_tab th{background-color:#F0F0F0;height:30px}
.list_info .room_tab td{height:30px;border-bottom:1px solid #DDDDDD;line-height:24px;padding-top:10px;padding-bottom:10px}
.list_info .room_tab .tr_b td{padding:0;border:none}
.list_info .room_tab .show_room{border:1px solid #DDDDDD;border-top:none;position:relative;margin:-7px 25px 0 0;padding:0 20px 0 8px;background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 84px -105px no-repeat #FFFFFF;width:72px;text-align:center}
.list_info .room_tab .show_room:hover{text-decoration:none}
.list_info .room_tab .close_room{background-position:84px -84px;}
.list_info .room_tab .sp_tp{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 0 0 no-repeat;display:inline-block;width:15px;height:15px;position:relative;margin-bottom:-4px}
.list_info .room_tab .sp_h{background-position:-31px -90px}
.list_info .room_tab .sp_l{background-position:-31px -112px}
.list_info .room_tab .sp_g{background-position:-62px -112px}
.list_info .room_tab .tr_bg{background-color:#FFF8EE}
.list_info .room_tab .h_imgsty{width:60px;height:60px;margin:0 10px}
.list_info .room_tab .r_inof{width:560px;float:left;margin-left:10px}
.list_info .room_tab .r_inof p{width:280px;float:left;line-height:20px}
.list_info .room_tab .room_close{line-height:20px;margin:40px 10px 0px 0px}
.list_info .room_tab .r_top{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 0 -77px no-repeat;width:13px;height:7px;position:absolute;margin:-17px 0 0 -530px}
.sbor_box{padding:30px 0 20px 0}
.sbor_box .go_back{float:left;line-height:30px;margin-top:7px}
.sbor_box .d_fixed{bottom: 0px;background-color:#EEF8FF;padding:10px 0px;width:930px;}

/*酒店设施*/
.facility_box {height: 20px; margin-left: 20px;margin-top: 1px;overflow: hidden;width: 360px;position: absolute;padding-top:4px;}
.wireless, .broadband, .park, .airport, .restaurant, .meet, .swimming, .fitness, .free_park, .free_wireless {background: url("http://img1.40017.cn/cn/h/list/2013/common_bg.2.2.png?v=2013092402") no-repeat scroll 0 0 rgba(0, 0, 0, 0);display: inline-block;height: 24px;margin: 0 10px 0 0;}
.park{background-position:-195px -638px;width:16px;}
.free_park{background-position:-57px -638px;width:16px;}
.restaurant{background-position:-155px -638px;width:12px;}
.meet{background-position:-6px -637px;width:16px;}
.wireless{background-position:-217px -638px;width:14px;}
.free_wireless{background-position:-176px -639px;width:14px;}
.swimming{background-position:-129px -638px;width:16px;}
.airport{background-position:-82px -638px;width:14px;}
.fitness{background-position:-104px -638px;width:18px;}
.broadband{background-position:-32px -638px;width:16px;}
/* 酒店礼物弹框 */
.gif_Box_api{position:absolute;z-index:100;clear:both;overflow:hidden;width:420px;text-indent:0px;font-style:normal;font-size:12px;font-family:Arial,"宋体"}
.gif_Box_api .giftTop{position:relative;top:1px;left:15px;display:block;width:11px;height:6px;background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) 0 -62px no-repeat;font-size:0}
.gif_Box_api .giftMain{float:left;overflow:hidden;padding:5px 5px 5px 0;border:1px #ffac75 solid;background:#fff4ed}
.gif_Box_api .giftMain .giftPic{float:left;width:30px;height:20px;background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) -20px -110px no-repeat}
.gif_Box_api .giftMain .giftBx{float:left;overflow:hidden;width:383px}
.gif_Box_api .giftMain .giftBx dl{float:left;overflow:hidden;color:#666;line-height:22px}
.gif_Box_api .giftMain .giftBx dl dt{float:left;width:60px}
.gif_Box_api .giftMain .giftBx dl dd{float:left;width:323px}
.gif_Box_api .giftMain .giftBx dl dd .dte{float:left}
.gif_Box_api .giftMain .giftBx dl dd .tim{float:left;padding-left:10px}
/* 费用明细  */
.price_info{border:1px solid #DDDDDD;background-color:#F0F0F0;margin-top:41px;position:fixed;width:228px}
.price_info .pri_title{padding-left:10px;line-height:33px}
.price_info .pri_main p{line-height:24px;width:208px}
.price_info .bor_bot{border-bottom:1px solid #DDDDDD}
.price_info .pri_main .size_28{font-size:28px}
.price_info .pri_main .all_p{line-height:34px}
/*弹出层样式*/
.common_cutBox{position:absolute}
.common_cutBox .common_title{}
.common_cutBox .common_cutTip{background-color:#FFFFFF;border:5px solid #DDDDDD;z-index:1000;float:left;position:relative}
.common_cutBox .common_arr{background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) -151px -13px no-repeat;height:9px;margin:-8px 20px 0;overflow:hidden;position:absolute;width:15px}
.common_cutBox .common_arrR{margin-left:510px}
.common_cutBox .common_cutmain{border:1px solid #999999;width:540px}
.common_cutBox .common_cutmain h3{font-weight:bold;font-size:12px}
.common_cutBox .choose_l a{margin:10px 5px;background:url(http://img1.40017.cn/cn/csl/14/b1.8/hotel.png?v=01) -100px -122px no-repeat;width:61px;height:23px;line-height:23px;display:inline-block;color:#FFFFFF}
.common_cutBox .choose_l a:hover{background-position:-100px -145px;color:#FFFFFF;text-decoration:none}
/* 酒店大图 */

/*距离排序*/
.distance_box{margin:10px 0 0 0;padding:0 0 10px 10px;border-bottom:1px solid #ddd;}
.distance_box .distance_tip,.distance_box .distance_list{float:left;}
.distance_box .distance_list{width:500px;}
.distance_box .distance_tip .name{color:#f60;}
.distance_box .distance_list a,.distance_box .distance_list a:hover{float:left;color:#666;text-decoration:none;height:20px;line-height:20px;padding:0 10px;margin-left:10px;}
.distance_box .distance_list .dis_sort_on,.distance_box .distance_list .dis_sort_on:hover{background:#2b98db;color:#fff;}
/*距离排序 end*/

/*确定  */
#listsi{float:left;}
#footbef{float:left;width:100%;position:fixed;bottom:0px;}
.foot{background:url(hotelbg.png) repeat;width:100%;bottom:0;height:60px;text-align:center;}
.foot .queding{padding-top:10px;}
.foot .before{font-size:20px;color:#fff;display:inline-block;}
.foot a{background:url(hotel1.png) no-repeat;background-position:0 -377px;width:120px;height:40px;text-align:center;text-decoration:none;color:#FFF;font-size:20px;font-family:Microsoft YaHei;display:inline-block;line-height:40px;}
.foot a:hover{background-position:0 -420px;}

/*地图*/

.listSidebar {float: right;width: 310px;}
/* .map_box{width:370px;background:#fff;border:1px solid #ddd;border-top:2px solid #22ADE6;} */
.hotel_map_wrap{width:308px;background:#fff;border:1px solid #ddd;border-top:2px solid #22ADE6;margin-bottom: 10px;}
/* .map_box_hover{border:1px solid #fea63c;border-top:2px solid #fea63c;} */
.hotel_map_wrap_hover{border:1px solid #fea63c;border-top:2px solid #fea63c;}
.hotel_map_wrap .hotel_map_head{border-bottom:1px solid #ddd;height:28px;line-height:28px;}
.hotel_map_wrap .hotel_map_head .maps_link{font-family:simsun;float:left;font-size:12px;padding-left:34px;height:28px;width:76px;line-height:29px;color:#fff;background:url(http://img1.40017.cn/cn/h/list/2013/map_go.png) no-repeat 0 0;overflow:hidden;}
.hotel_map_wrap .hotel_map_head .maps_link:hover{background-position:0 -28px;color:#fff;}
.hotel_map_wrap .hotel_map_head .right{float:right;padding-right:10px;color:#666;height:28px;line-height:28px;}
.hotel_map_wrap .hotel_map_head .right label{vertical-align: -1px;}
* html .hotel_map_wrap .hotel_map_head .right label{vertical-align: -3px;}
.hotel_map_wrap .contents{border-top:none;height:336px;}
.map_content{width:370px;height:430px;margin-bottom:10px;float:none;}
#hotelImgBox{position:absolute;background-color:#FFFFFF}
.h_imgB{border:2px solid #DDDDDD;padding:5px;float:left}

.con_right{float:right;}
.con_left{float:left;}
.BMap_mask {
    background: url("http://api.map.baidu.com/images/blank.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.map_content{width:370px;height:430px;margin-bottom:10px;float:none;}
/*地图样式*/
.map_tip_Box{position:absolute;width:400px;overflow:hidden;}
.map_tip_Box .map_tip_arrow{float:left;width:22px;height:31px;text-align:center;color:#0073b6;}
.map_tip_Box .map_tip_name{height:20px;line-height:20px;left:30px;color:#333;display:block;float:left;white-space:nowrap;padding:0 10px 0 4px;*height:19px;*padding-top:1px;}

.map_lab_Box{position:absolute;width:400px;overflow:hidden;}
.map_lab_Box .map_lab_arrow{float:left;width:35px;height:39px;background:url(http://img1.40017.cn/cn/h/list/2013/lab0.png) no-repeat left 0;_background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img1.40017.cn/cn/h/list/2013/lab0.png');}

.map_lab_Box .map_lab_name{height:20px;color:#fff;line-height:20px;left:30px;color:#333;display:block;float:left;white-space:nowrap;padding:0 10px 0 4px;margin-top:6px;background:url(http://img1.40017.cn/cn//h/list/2013/map_lab.png) no-repeat right -5px;}
/*地图样式 end*/

/*查询无结果 s*/
.havenojieg{text-align:center;}
.nht_box {overflow: hidden;padding:30px 0;width: 870px;}
.nht_box .nht_l {background: url(hotel1.png) no-repeat scroll -172px -376px rgba(0, 0, 0, 0);height: 33px;width: 28px;padding-left:50px;margin-left:30px;padding-top:10px;padding-bottom:10px;}
.nht_box .nht_r .p01 {font-size: 14px;font-weight: bold;line-height: 24px;}
/*查询无结果 e*/



 
