span.field-validation-error {
    color: red;
    background: url(../img2/err_ico.gif) no-repeat 0 4px;
    text-indent: 15px;
    display: inline-block;
    float: none!important;
}

.checkRow {
    font-weight: 600;
}

.none {
    display: none;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
